body{
  font-family:Arial;
  background:#bfdbfe;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  background:white;
  padding:30px;
  border-radius:10px;
  width:350px;
  box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

h1{
  text-align:center;
}

.input-box{
  display:flex;
  gap:10px;
}

input{
  flex:1;
  padding:10px;
}

button{
  padding:10px 15px;
  background:#0077cc;
  color:white;
  border:none;
  cursor:pointer;
  border-radius:5px;
}

ul{
  list-style:none;
  padding:0;
  margin-top:20px;
}

li{
  background:#f4f4f4;
  padding:10px;
  margin:10px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:5px;
}

.completed{
  text-decoration:line-through;
  color:gray;
}
button:hover{
  background:#005fa3;
  transition:0.3s;
}